body {
	font-family: 'Montserrat', sans-serif;
	letter-spacing: -2px;
	margin:0;
	padding:0;
}

.itens_menubar {
	list-style-type: none;
}
.itens_menubar li {
	display: inline-block;
	width:auto;
	margin-top: 30px;
	letter-spacing: 0px;
	padding:0px 10px;
	font-size: 130%;
}
.logo{
	text-align:auto;
	font-size:100%;
}
.logo a {
	text-decoration: none;
	color:white;
}
.itens_menubar li a {
	color:white;
}

header{
	height:110px;
	background-color:#33cc33;
}
header .row {
	padding-top: 35px;
	margin:auto;
	color:white;
}

.meio {
	height:140px;
	background-color: #f2f2f2;
	box-shadow: 10px 10px 5px #888888;
}

.frase ul li{
	display:inline-block;

}
.citacao h2{
	margin-top: 70px;
	color:#b30000;
	letter-spacing: -2px;
	font-size:300%;
	text-align:center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}
.citacao h2:hover {
	width:300px;
}
/*
 * Keyframes
 */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

}
/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
 */
.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}

.linha1{
	margin-top:40px;
}

.cit{
	text-align: center;
}

.cit p{
	font-size:260%;
}
.segundomeio2 {
	height:700px;
	background-color: #f2f2f2;
	box-shadow: 10px 10px 5px #888888;
	background-size: fill;
}


.bio h3 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color:#b30000;
	font-size:330%;
	letter-spacing:2%;
}


.bio p {
	font-family: 'Montserrat', sans-serif;
	text-align: justify;
    text-justify: inter-word;
	color: black;
	font-size:130%;
	margin-left: 5%;
	margin-right:5%;
}
.texto p {
	font-size:110%;
}
.rodape{
	text-align:center;
	background-color: #b30000;
}