html,
body {
    height: 100%;
}

.wrap {
   
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
     margin-top:40px;
    padding: 30px 15px 20px 30px;
    background-color:#FFF;
    
    -webkit-box-shadow: 0px 3px 24px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 3px 24px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 3px 24px 0px rgba(50, 50, 50, 0.45);
}

.footer {
    min-height: 60px;
    /* Fallback for web browsers that don't support RGBa */
    background-color: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background-color: rgba(0, 0, 0, 0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    border-top: 1px solid #ddd;
    padding-top: 20px;
    color:#FFF;
}

.footer a{
    color:#d2d2d2;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* web in */
.avatar {
    width:40px;
    height:40px;
    margin-top: -10px;
    margin-bottom: -10px;
    border-radius: 20px;
    margin-left: 5px; 
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: #0066FF !important;
}

.navbar-brand {
    height: 100%;
    padding: 15px 15px;
}

.navbar-inverse .navbar-nav > li > a{
    color:#FFF;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background:#ED4A99;
  
}
.navbar-inverse .navbar-brand{
    color:#FFF;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
 background:#0066CC; }
nav#w2{
    border:none;
}
.navbar-inverse{
         background:#0066CC;
border:none;
}

.btn-success{
    background-color: #14B4CC;
        border-color: #119aae;
}

.btn-success:hover{
    background-color: #119aae;
        border-color: #119aae;
}

.site-login{
    background-color:#FFF;
    -moz-border-radius: 15px;
     -webkit-border-radius: 15px;
     border-radius: 15px;
    
     -webkit-box-shadow: 0px 3px 24px 0px rgba(50, 50, 50, 0.45);
    -moz-box-shadow:    0px 3px 24px 0px rgba(50, 50, 50, 0.45);
    box-shadow:         0px 3px 24px 0px rgba(50, 50, 50, 0.45);
}

body{
    background:#E4E4E4;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* PAGINA DE PLANOS DE ASSINATURA   */

center>img{
    position: relative;
    margin-top: -24%;
}
.well{
    background: #fff;
    box-shadow: 0 0 0 0;
    border: 0px;
}

.base-padding{
    padding: 3% 0;
}
.well.pricing-table{
/*            padding: 3%;*/
    background: #fff;
    transition:all 0.6s ease-out;

}
 .well.pricing-table:hover{
     box-shadow:0 5px 6px #444;
     cursor:pointer;
 }

.pricing-feature-list{
    padding: 10%;
    background: #444;
    color: #eee;
}
.pricing-feature-list .list-group-item {
    position: relative;
    display: block;
    padding: 13px 15px;
    margin-bottom: -1px;
    background-color: #444;
    /* border: 1px solid #6B6B6B; */
    font-size: 15px;
    border: 1px solid #444;
    /* font-weight: 700; */
    border-bottom: 1px solid #595353;
}
.pricing-table>.pricing-table-holder{
    background: #f9f9f9;
    padding: 6%;
}
.btn-info{
    color: #fff;
    background-color: #F95353;
    border-color: #F95353;
    /* border-radius: 0; */
    padding: 3%;
    transition: all 0.6s ease-in;
}
.custom-button-group{
    background: #f9f9f9;
    padding: 0%;
}
.btn-royal-blue{
    color: #FFF;
    background-color: #23A4F2;
    border-color: #23A4F2;
    transition: all 0.4s ease-in;
}
.btn-royal-blue:hover{
    color: #eee;
    transition: all 0.5s ease-in;
}

#pagina-login{
    background:none;
    -webkit-box-shadow:none;
    -moz-box-shadow:none;
    box-shadow:none;
}

#logo-empresa{
    margin:40px 50px 20px 20px;
}

#logo-empresa img{
 
   
    background-color:white;
}

@media screen and (max-width: 768px) {
  body {background:none; background-color:#FFF;}
    
    .wrap > .container{
         -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none;
    }
    
  .site-login{
     -webkit-box-shadow: none;
     -moz-box-shadow:none;
     box-shadow:none;
    }
    
    .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
        color: #FFF;
    }
    .navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
        background:none;
    }
}

/* PROFILE */
/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

