.navbar-brand {
	height: 100%;
	padding: 0px 15px;
}
.navbar-right {
	margin-right: 0;
}
.navbar-nav > li {
	margin-left: 20px; 
}
.navbar-nav > li > a:hover {
	background: none;
}
.navbar-nav > li > a {
	padding: 15px 25px;
	font-size: 16px;
	color: white;
}